.App {
  text-align: center;
  background-color: #00161D;
  height: 100vh;
}

.component-image{
  width: Fill (1,440px)px;
height: Hug (832px)px;
padding: 32px 120px 40px 120px;
gap: var(--fontsize16);
opacity: 0px;

}

.container-3{
  background-color: #00161D;
  height: 80px;
  width: 80px;
}